<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<!-- Top -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="color: white">
                    <div class="navbar-brand">
                        <span class="font-weight-bold" th:text="${currentUser.email}"></span>
                        with roles:
                        <span th:text="${currentUserRoles}"></span>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link" style="color: darkgrey;">Logout</button>
                </form>
            </span>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div class="row">

        <!-- Left bar -->
        <div class="col-2 pl-0 pr-0">
            <ul class="nav flex-sm-column">
                <li class="nav-item">
                    <a class="nav-link active bg-primary text-white" aria-current="page">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user">User</a>
                </li>
            </ul>
        </div>

        <div class="col-8">
            <div class="tab-content mt-3" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                    data-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Tables
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                    data-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">New User
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <h2>Admin panel</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td>
                                        <span th:each="role : ${user.getRoles()}"
                                              th:text="${#strings.replace(role.getRole(), 'ROLE_', ' ')} + ' '"></span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                data-target="#editModal" th:data-target="'#editModal-' + ${user.id}">
                                            Edit
                                        </button>

                                        <!-- editModal -->
                                        <div class="modal fade" th:id="'editModal-' + ${user.id}" tabindex="-1"
                                             aria-hidden="true" aria-labelledby="editModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center font-weight-bold">
                                                        <!-- Edit user form -->
                                                        <div class="row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-6">
                                                                <h2>Edit user</h2>
                                                                <form th:action="@{/admin/update/{id}(id=${user.id})}"
                                                                      th:object="${user}" method="post"
                                                                      class="fw-bold text-center">
                                                                    <div class="form-group">
                                                                        <label for="id">ID</label>
                                                                        <input class="form-control" type="text"
                                                                               id="id" name="id"
                                                                               th:value="${user.id}" readonly/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="name">First name</label>
                                                                        <input class="form-control" type="text"
                                                                               id="name" name="name"
                                                                               th:value="${user.name}"/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="lastname">Last name</label>
                                                                        <input class="form-control" type="text"
                                                                               id="lastname" name="lastName"
                                                                               th:value="${user.lastName}"/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="email">Email</label>
                                                                        <input class="form-control" type="text"
                                                                               th:value="${user.email}"
                                                                               id="email" name="email"/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="age">Age</label>
                                                                        <input class="form-control" type="text"
                                                                               th:value="${user.age}"
                                                                               id="age" name="age"/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="password">Password</label>
                                                                        <input class="form-control" type="text"
                                                                               id="password" name="password"/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Roles:</label>
                                                                        <select multiple class="form-control"
                                                                                name="roles_select">
                                                                            <option th:each="role : ${allRoles}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${#strings.replace(role.role, 'ROLE_', ' ')}"></option>
                                                                        </select>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Save
                                                                        changes
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <div class="col-3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <button class="btn btn-danger"
                                                data-toggle="modal" th:data-target="'#deleteModal-' + ${user.id}">Delete
                                        </button>
                                        <!-- deleteModal -->
                                        <div class="modal fade" th:id="'deleteModal-' + ${user.id}" tabindex="-1"
                                             role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center font-weight-bold">
                                                        <!-- Delete user form -->
                                                        <div class="row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-6">
                                                                <h2>Delete user</h2>
                                                                <form th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                                      th:object="${user}" method="get">
                                                                    <div class="form-group">
                                                                        <label>ID:</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.id}" readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>First name:</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.name}" readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Last name:</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.lastName}" readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Age:</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.age}" readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Email:</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.email}" readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Password:</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.password}" readonly>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Roles:</label>
                                                                        <select multiple class="form-control"
                                                                                name="roles_select" disabled>
                                                                            <option th:each="role : ${allRoles}"
                                                                                    th:value="${role.getId()}"
                                                                                    th:text="${#strings.replace(role.getRole(), 'ROLE_', ' ')}"></option>
                                                                        </select>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-danger">Delete
                                                                        user
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <div class="col-3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4 mt-3">
                                        <h2>Add user</h2>
                                        <form th:action="@{/admin/create}" method="post" th:object="${user}"
                                              class="fw-bold text-center">
                                            <div class="form-group">
                                                <label>First name:</label>
                                                <input type="text" class="form-control" placeholder="Enter first name"
                                                       name="name" th:field="*{name}">
                                            </div>
                                            <div class="form-group">
                                                <label>Last name:</label>
                                                <input type="text" class="form-control" placeholder="Enter last name"
                                                       name="lastName" th:field="*{lastName}">
                                            </div>
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input type="email" class="form-control" placeholder="Enter email"
                                                       name="email" th:field="*{email}">
                                            </div>
                                            <div class="form-group">
                                                <label>Age:</label>
                                                <input type="text" class="form-control" placeholder="Enter age"
                                                       name="age" th:field="*{age}">
                                            </div>
                                            <div class="form-group">
                                                <label>Password:</label>
                                                <input type="password" class="form-control" placeholder="Enter password"
                                                       name="password">
                                            </div>
                                            <div class="form-group">
                                                <label>Roles:</label>
                                                <select multiple class="form-control" th:field="*{roles}" name="roles_select">>
                                                    <option th:each="role : ${allRoles}" th:value="${role.getId()}"
                                                            th:text="${#strings.replace(role.getRole(), 'ROLE_', ' ')}"></option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add user</button>
                                        </form>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwr7Qq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>