<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form th:method="POST" th:action="@{'/admins/updateauser?id=' + ${users.getId()}}" th:object="${users}">

    <label for="username">Enter new username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
    <br/>

    <label for="password">Enter new password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>

    <label for="email">Enter new email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>

    <label for="role">Select role:</label>
    <select id="role" name="role">
        <option value="ROLE_USER">User Role</option>
        <option value="ROLE_ADMIN">Admin Role</option>
    </select>

    <input type="submit" value="Update"/>

</form>

</body>
</html>